name: CI

on:
  push:
    branches: [main]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Create .env file
      run: |
        echo "${{ secrets.DOT_ENV_FILE }}" > .env

    - name: Make allure-results directory
      run: mkdir -p allure-results

    - name: Build Docker image
      run: docker build -t 3o3 .

    - name: Run tests
      run: |
        docker run --rm \
          -e CI="true" \
          -v ${{ github.workspace }}/allure-results:/app/allure-results \
          3o3 

    - name: Fix permissions
      if: always()
      run: sudo chown -R $USER:$USER allure-results
      
    - name: Allure Report action
      uses: simple-elf/allure-report-action@master
      if: always()
      with:
        allure_results: allure-results
        allure_history: allure-history
        keep_reports: 20

    - name: Deploy report to Github Pages
      if: always()
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: allure-history
